        /*GLOBAL CONTROLS*/
* {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}

.background {
	height: 100%;
	z-index: -1;
	position: fixed;
	top:0;
	left:0;
	right: 0;
  bottom: 0;
}

@media only screen and (min-width: 480px) and (max-width: 990px) {
	.background {
		width: auto;
		height: 100%;
  }
  .languages {
    position: absolute;
    right: 25%;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
	.background {
		width: auto;
		height: 100%;
  }
  .languages {
    position: absolute;
    right: 25%;
  }
}

@media only screen and (min-width: 1400px) {
	.background {
		width: 100%;
	}
}

@media only screen and (min-width: 1600px) {
	.background {
		width: 100%;
	}
}

															/*HEADER CONTROLS*/
.headerRow {
  border: 0;
}

.header {
	text-align: center;
	height: 15%;
	width: 100%;
  border: none;
  margin-top: 10px;
}

.himage {
	height: 115px;
	margin: 10px;
  width: auto;
}
      /*BODY CONTROLS*/
.body-content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.irlphoto {
  border: 1px solid white;
}

.hh {
  text-align: right;
  width: 365px;
  float: right;
}

.bodyh1 {
  color: black;
  font-size: 45px;
  background-color: rgba(255, 255, 255, .5);
  padding: 10px;
  margin-top: 0;
}

.bodyh3 {
  color: black;
  font-size: 25px;
  background-color: rgba(255, 255, 255, .5);
  padding: 5px;
  width: 200px;
  float: right;
  margin-top: 15px;
}

.description {
  padding: 15px;
  margin-top: 15px;
  color: black;
  font-size: 25px;
  background-color: rgba(255, 255, 255, .5);
}

.languages {
  text-align: center;
  display: inline;
  background-color: rgba(255, 255, 255, .5);
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lang-images {
  display: inline-block;
}

#html5, #css3, #java, #boot, #firebase, #jquery, #node {
  height: 100px;
  width: auto;
}

.exp {
  font-size: 35px;
}