        /*GLOBAL CONTROLS*/
        * {
          font-family: 'Raleway', sans-serif;
          margin: 0 auto;
          padding: 0 auto;
        }
        
        .background {
          height: 100%;
          z-index: -1;
          position: fixed;
          top:0;
          left:0;
          right: 0;
          bottom: 0;
        }
        
        @media only screen and (min-width: 480px) {
          .background {
            width: auto;
            height: 100%;
          }
        }
        
        @media only screen and (min-width: 992px) {
          .background {
            width: auto;
            height: 100%;
          }
        }
        
        @media only screen and (min-width: 1400px) {
          .background {
            width: 100%;
          }
        }
        
        @media only screen and (min-width: 1600px) {
          .background {
            width: 100%;
          }
        }
        
                                      /*HEADER CONTROLS*/
        .headerRow {
          border: 0;
        }
        
        .header {
          text-align: center;
          height: 15%;
          width: 100%;
          border: none;
        }
        
        .himage {
          height: 100px;
          margin: 10px;
          width: auto;
        }