														/* GLOBAL CONTROLS */
* {
	margin: 0 auto;
	padding: 0;
}

.background {
	height: 100%;
	z-index: -1;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}

a {
	text-decoration: none;
	color:white;
}

a:hover {
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
}

															/*HEADER CONTROLS*/
.headerRow {
	border: 0;
}

.header {
	text-align: center;
	height: auto;
	width: 100%;
	border: none;
	margin-top: 10px;
	/*background-color: rgba(255, 255, 255, .6);*/
}

.devH {
	display: flex;
	margin: 0 auto;
	padding: 0 auto;
	align-items: center;
}

.himage {
	height: 115px;
	margin: 10px;
	width: auto;
}

.portfolio {
	color: #00ffba;
	width: 200px;
	height: 115px;
	padding-top: 30px;
}
.design {
	color: white;
	margin: 0 auto;
	width: 30%;
}

.development {
	color: white;
	margin: 0 auto;
	width: 30%;
}

														/* BODY CONTROLS */
.jumbo {
	background-color: rgba(255, 255, 255, .4);
	color: black;
}

.bodyRow {
	height: 600px;
	text-align: center;
}

.h3heading {
	font-size: 45px;
	color: black;
	width: 35%;
	display: block;
	text-align: center;
	margin-top: 260px;
}

.h3dev {
	font-size: 25px;
	color: black;
	width: 30%;
	display: block;
	text-align: center;
	position: relative;
	left: 60px;
}

.dot {
	color: #00ffba;

}
																												/*CARDS*/

.cards {
	margin: 25px;
	position: relative;
}

.card1 {
	position: absolute;
	left: 20%;
}

.card1image {
	height: 400px;
	width: auto;
	position: absolute;
}

.card1h3 {
	font-size: 25px;
	background-color: rgba(255, 255, 255, .4);
	position: absolute;
	width: 266.66px;
	text-align: center;
}
																								/*MEDIA QUERIES*/

@media only screen and (min-width: 480px) and (max-width: 991px) {
	.background {
		width: auto;
		height: 100%;
	}

	.card1 {
		left: 3%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
	.background {
		width: auto;
		height: 100%;
	}

	.card1 {
		left: 3%;
	}
}

@media only screen and (min-width: 1400px) {
	.background {
		width: 100%;
	}
}

@media only screen and (min-width: 1600px) {
	.background {
		width: 100%;
	}
}