														/* GLOBAL CONTROLS */
* {
	margin: 0 auto;
	padding: 0;
}

.background {
	height: 100%;
	z-index: -1;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}

a {
	text-decoration: none;
	color:white;
}

a:hover {
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	height: 100vh;
}

.section1, .section2 {
	height: 100vh;
}

															/*HEADER CONTROLS*/
.headerRow {
	border: 0;
}

.header {
	text-align: center;
	height: auto;
	width: 100%;
	border: none;
	margin-top: 10px;
}

.devH {
	display: flex;
	margin: 0 auto;
	padding: 0 auto;
	align-items: center;
}

.himage {
	height: 100px;
	margin: 10px;
	width: auto;
}

.design {
	color: white;
	margin: 0 auto;
}

.development {
	color: white;
	margin: 0 auto;
}
														/* JUMBO CONTROLS */
.jumbo {
	background-color: rgba(255, 255, 255, .4);
	color: black;
}

.bodyRow {
	height: 600px;
	text-align: center;
}

.h3heading {
	font-size: 45px;
	color: black;
	width: 35%;
	display: block;
	text-align: center;
	margin-top: 260px;
}

.h3dev {
	font-size: 25px;
	color: black;
	width: 30%;
	display: block;
	text-align: center;
	position: relative;
	left: 60px;
}

.dot {
	color: #00ffba;

}

																						/*MEET DEVELOPER CONTROLS*/
.section2 {
	height: 100vh;
	margin: 0 auto;
	padding: 0 auto;
}

.p-and-p {
	background-color: rgba(255, 255, 255, .5);
	padding: 20px;
	margin: 15px;
	margin-bottom: 0px;
	text-align: center;
}
.irlphoto {
	border: 1px solid white;
	padding: 0;
}

.hh {
  text-align: right;
  width: 365px;
  float: right;
}

.bodyh1 {
  color: black;
  font-size: 45px;
  background-color: rgba(255, 255, 255, .5);
  padding: 10px;
  margin-top: 0;
}

.bodyh3 {
  color: black;
  font-size: 25px;
  background-color: rgba(255, 255, 255, .5);
  padding: 5px;
  width: 200px;
  float: right;
  margin-top: 15px;
}

.description {
  padding: 15px;
  margin-top: 15px;
  color: black;
	font-size: 25px;
	height: auto;
}

.languages {
	text-align: center;
	margin-top: 20px;
	float: right;
  background-color: rgba(255, 255, 255, .5);
  color: black;
  padding-top: 20px;
	padding-bottom: 20px;
}

.lang-images {
  display: inline-block;
}

#html5, #css3, #java, #boot, #firebase, #jquery, #node {
  height: 100px;
  width: auto;
}

.exp {
  font-size: 35px;
}

																																					/*CARD CONTROLS*/
.cards {
	margin: 0 auto;
	height: 75vh;
	text-align: center;
	display: none;
}

.card1 {
	height: 600px;
	padding: 50px;
	width: 300px;
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
	margin: 7px;
	font-size: 35px;
}

.card2 {
	height: 600px;
	padding: 50px;
	width: 300px;
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
	margin: 7px;
	font-size: 35px;
}

.card3 {
	height: 600px;
	padding: 50px;
	width: 300px;
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
	margin: 7px;
	font-size: 35px;
}

																								/*What is Holsingerdot CONTROLS*/
.aboutHdot {
	height: 100vh;
	margin: 0 auto;
	padding: 0 auto;
	background-color: rgba(255, 255, 255, .5)
}

.what-is {
	font-size: 35px;
	padding: 20px;
}

.HdotDesc {
	font-size: 25px;
}

.services {
	text-align: center;
}
																								/*MEDIA QUERIES*/

@media only screen and (min-width: 480px) and (max-width: 990px) {
	.background {
		width: auto;
		height: 100%;
  }
  .languages {
    margin-top: 30px;
    width: 100%;
	}

	.section2 {
		height: 100vh;
	}

	.cards {
		display: inline-block;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
	.background {
		width: auto;
		height: 100%;
  }
  .languages {
		margin-top: 30px;
		width: 100%;
	}
	
	.section2 {
		height: 100vh;
	}

	.cards {
		display: inline-block;
	}
}

@media only screen and (min-width: 1400px) {
	.background {
		width: 100%;
	}
}

@media only screen and (min-width: 1600px) {
	.background {
		width: 100%;
	}
}