														/* GLOBAL CONTROLS */
* {
	margin: 0 auto;
	padding: 0;
}

a:active {
	text-decoration: none;
}

.background {
	height: 100%;
	z-index: -1;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
a {
	text-decoration: none;
	color:white;
}

a:hover {
	color: white;
	text-decoration: none;
	font-size: 35px;
}

a:active {
	text-decoration: none;
	
}
body {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	overflow: hidden;
}

@media only screen and (min-width: 480px) {
	.background {
		width: auto;
		height: 100%;
	}
}

@media only screen and (min-width: 992px) {
	.background {
		width: auto;
		height: 100%;
	}
}

@media only screen and (min-width: 1400px) {
	.background {
		width: 100%;
	}
}

@media only screen and (min-width: 1600px) {
	.background {
		width: 100%;
	}
}
															/*HEADER CONTROLS*/
.headerRow {
	border: 0;
}

.header {
	text-align: center;
	height: auto;
	width: 100%;
	border: none;
	margin-top: 10px;
	/*background-color: rgba(255, 255, 255, .6);*/
}

.devH {
	display: flex;
	margin: 0 auto;
	padding: 0 auto;
	align-items: center;
}

.himage {
	height: 115px;
	margin: 10px;
	width: auto;
}

.portfolio {
	color: #00ffba;
	width: 200px;
	height: 115px;
	padding-top: 30px;
}
.design {
	color: white;
	margin: 0 auto;
	width: 30%;
}

.development {
	color: white;
	margin: 0 auto;
	width: 30%;
}

														/* BODY CONTROLS */
.jumbo {
	background-color: rgba(255, 255, 255, .4);
	color: black;
}

.bodyRow {
	height: 600px;
	text-align: center;
}

.h3heading {
	font-size: 45px;
	color: black;
	width: 35%;
	display: block;
	text-align: center;
	margin-top: 260px;
}

.h3dev {
	font-size: 25px;
	color: black;
	width: 30%;
	display: block;
	text-align: center;
	position: relative;
	left: 35px;
}

.dot {
	color: #00ffba;

}
																												/*CARDS*/

.cards {
	margin: 0 auto;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#cards {
	font-size: 35px;
	displaY: inline-block;
	border: 1px solid white;
	color: white;
	padding: 20px;
	width: 200px;
	text-align: center;
	margin-top: 10%;
	margin: 20px;
}
.quote {
	color: #00ffba;
	padding: 0 auto;
	text-align: center;
}
.cards a:hover * {
	font-size: 30px;
	margin: 10px;
	text-align: center;
	background-color: #00ffba;
	color: black;
}